* {
    font-size: 16px;
}

.tahoma {
    font-family: Tahoma;
}

#verdana {
    font-family: Verdana;
    color: orange;
}

#impact {
    font-family: Impact;
    color: red;
}

#georgia {
    font-family: Georgia;
    color: pink;
}

li {
    margin: 10px 10px;
}
